/Practica_2/p2_npi/build/
/Practica_2/p2_npi/nbproject/private/
/Practica_2/nbproject/private/
/Practica_2/build/
/Practica2/nbproject/private/
/P2_NPI/build/
/P2_NPI/nbproject/private/
/Practica_2/dist/
